*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("/fonts/SourceSansPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro-Regular", sans-serif;
}

.top-bar,
.nav-links,
.title {
  display: flex;
  align-items: center;
}
.logo {
  width: 23.16px;
  height: 23.16px;
  margin-left: 1.5em;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  margin-left: 5px;
}

.top-bar {
  justify-content: space-between;
  margin: 0.75em 0;
}

.nav-links {
  list-style: none;
  text-transform: uppercase;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 0.75rem;
  margin-right: 1.5em;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #090909;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 293px;
  background-image: url("../images/blog-image-hero.png");
  background-size: cover;
  background-position: bottom;
  background-color: #09090973;
  color: #ffffff;
  padding: 1.5em;
  background-blend-mode: darken;
}

.hero a {
  text-decoration: none;
  color: #ffffff;
}
.hero-title {
  font-size: 2rem;
  font-family: "SourceSansPro-Bold", sans-serif;
  margin: 0.25em 0 0 0;
}
.hero-date {
  font-size: 0.75rem;
}
.hero-summary {
  font-size: 1rem;
  font-family: "SourceSansPro-Regular", sans-serif;
  margin-top: 0.5em;
  line-height: auto;
}
.post-image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;

  margin: 1em 0;
  border-radius: 3px;
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
}

.blog-posts {
  grid-column: 2 / 3;
}

.post-title {
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 1.5rem;
  margin: 0.25em 0 0.25em 0;
  color: #141414;
}

.post-summary {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #505050;
  margin: 0.5em 0 2em 0;
}
